# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

1. Python
2. R
3. SQL

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Hadoop      |
| Tableau            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
(3*4)+5.
 # This is a simple arithmetic expression to multiply then add

17.0

In [13]:
200/60.
 # This will convert 200 minutes to hours by dividing by 60.

3.3333333333333335

### Objectives:
- List popular languages for Data Science.
- List popular libraries for Data Science.
- Introduce arithmetic operations in Python.
- Demonstrate converting minutes to hours.
- Create a table of Data Science tools.

## Author
Shanmukh